.body {
  background-color: rgb(245, 245, 237);
  width: 600px;
  height: 700px;
}

.cub {
  display: grid;
  grid-template-columns: 100px 30% 1fr;
  grid-template-rows: 200px 100px;
  gap: 10px;
}

.cub1 {
  background: linear-gradient(45deg, blue, lightblue);
  border: 3px solid black;
}
